[SddmGreeterTheme]
Name=mos-sddm-theme
Description=mos-sddm-theme
Author=Medusa Group
Copyright=(c) 2024, Daniil (fakelog)
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/repo-medusa/mos-sddm-theme
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=i@fakelog.ru
Theme-Id=mos-sddm-theme
Theme-API=2.0
QtVersion=6
